In [1]:
pip install catboost

Collecting catboost
  Downloading catboost-1.2.3-cp310-cp310-manylinux2014_x86_64.whl (98.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 98.5/98.5 MB 7.9 MB/s eta 0:00:00
Requirement already satisfied: graphviz in /usr/local/lib/python3.10/dist-packages (from catboost) (0.20.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (from catboost) (3.7.1)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.10/dist-packages (from catboost) (1.25.2)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.10/dist-packages (from catboost) (1.5.3)
Requirement already satisfied: scipy in /usr/local/lib/python3.10/dist-packages (from catboost) (1.11.4)
Requirement already satisfied: plotly in /usr/local/lib/python3.10/dist-packages (from catboost) (5.15.0)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from catboost) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.24->catboost) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.24->catboost) (2023.4)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (4.49.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (24.0)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (3.1.2)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from plotly->catboost) (8.2.3)
Installing collected packages: catboost
Successfully installed catboost-1.2.3

In [2]:
#  import libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from catboost import CatBoostClassifier
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

In [7]:
#  import titanic dataset using seaborn

df = sns.load_dataset('titanic')
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [10]:
#  impute missing values in age and fare column using knn imputer

from sklearn.impute import KNNImputer

# Define the KNN imputer
knn_imputer = KNNImputer(n_neighbors=5)

# Impute missing values in age and fare columns
df['age'] = knn_imputer.fit_transform(df['age'].values.reshape(-1, 1))
df['fare'] = knn_imputer.fit_transform(df['fare'].values.reshape(-1, 1))

In [11]:
#  impute missing values in embark_town and embarked using mode

# Impute missing values in embark_town and embarked columns using mode
df['embark_town'] = df['embark_town'].fillna(df['embark_town'].mode()[0])
df['embarked'] = df['embarked'].fillna(df['embarked'].mode()[0])

In [12]:
df.isnull().sum()

survived         0
pclass           0
sex              0
age              0
sibsp            0
parch            0
fare             0
embarked         0
class            0
who              0
adult_male       0
deck           688
embark_town      0
alive            0
alone            0
dtype: int64

In [13]:
#  drop the deck column

df = df.drop(columns=['deck'])

In [20]:
# convert each category column to category  and add this as a new column in DataFrame
categorical_cols=df.select_dtypes(include=['category','object']).columns
df[categorical_cols]=df[categorical_cols].astype('category')

In [21]:
df.info(

)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   survived         891 non-null    int64
 1   pclass           891 non-null    int64
 2   sex              891 non-null    category
 3   age              891 non-null    float64
 4   sibsp            891 non-null    int64
 5   parch            891 non-null    int64
 6   fare             891 non-null    float64
 7   embarked         891 non-null    category
 8   class            891 non-null    category
 9   who              891 non-null    category
 10  adult_male       891 non-null    bool
 11  embark_town      891 non-null    category
 12  alive            891 non-null    category
 13  alone            891 non-null    bool
 14  sex_cat          891 non-null    category
 15  embarked_cat     891 non-null    category
 16  who_cat          891 non-null    category
 17  embark_town_cat  891 non-null    category
 18  alive_cat        891 non-null    category
dtypes: bool(2), category(11), float64(2), int64(4)
memory usage: 54.6 KB

In [22]:
#  split data into X and y

# Separate features and target
X = df.drop('survived', axis=1)
y = df['survived']

In [24]:

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [28]:
from catboost import CatBoostClassifier

# Assuming categorical_cols is a pandas Index object containing the names of categorical columns
cat_features = categorical_cols.tolist()

model = CatBoostClassifier(learning_rate=0.1, n_estimators=100, random_state=42)
model.fit(X_train, y_train, cat_features=cat_features)
y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)

0:	learn: 0.6091715	total: 57.2ms	remaining: 5.66s
1:	learn: 0.5341322	total: 59.5ms	remaining: 2.92s
2:	learn: 0.4778213	total: 63.5ms	remaining: 2.05s
3:	learn: 0.4281978	total: 68.1ms	remaining: 1.63s
4:	learn: 0.3898390	total: 73.9ms	remaining: 1.4s
5:	learn: 0.3502180	total: 78.5ms	remaining: 1.23s
6:	learn: 0.3171075	total: 83.9ms	remaining: 1.11s
7:	learn: 0.2877822	total: 88.5ms	remaining: 1.02s
8:	learn: 0.2607131	total: 93.8ms	remaining: 948ms
9:	learn: 0.2364596	total: 96.5ms	remaining: 868ms
10:	learn: 0.2186680	total: 101ms	remaining: 814ms
11:	learn: 0.1980051	total: 107ms	remaining: 781ms
12:	learn: 0.1782319	total: 108ms	remaining: 724ms
13:	learn: 0.1636687	total: 112ms	remaining: 691ms
14:	learn: 0.1498279	total: 119ms	remaining: 672ms
15:	learn: 0.1378836	total: 124ms	remaining: 650ms
16:	learn: 0.1268104	total: 126ms	remaining: 616ms
17:	learn: 0.1185019	total: 131ms	remaining: 598ms
18:	learn: 0.1086723	total: 133ms	remaining: 565ms
19:	learn: 0.0993018	total: 133ms	remaining: 534ms
20:	learn: 0.0932205	total: 135ms	remaining: 509ms
21:	learn: 0.0874855	total: 138ms	remaining: 488ms
22:	learn: 0.0805498	total: 139ms	remaining: 465ms
23:	learn: 0.0757240	total: 141ms	remaining: 446ms
24:	learn: 0.0696747	total: 142ms	remaining: 426ms
25:	learn: 0.0655026	total: 144ms	remaining: 409ms
26:	learn: 0.0618087	total: 146ms	remaining: 395ms
27:	learn: 0.0585877	total: 148ms	remaining: 380ms
28:	learn: 0.0543325	total: 150ms	remaining: 366ms
29:	learn: 0.0502543	total: 150ms	remaining: 351ms
30:	learn: 0.0472573	total: 153ms	remaining: 340ms
31:	learn: 0.0449552	total: 154ms	remaining: 327ms
32:	learn: 0.0427946	total: 156ms	remaining: 317ms
33:	learn: 0.0407676	total: 158ms	remaining: 307ms
34:	learn: 0.0384007	total: 159ms	remaining: 296ms
35:	learn: 0.0363133	total: 160ms	remaining: 285ms
36:	learn: 0.0348357	total: 163ms	remaining: 277ms
37:	learn: 0.0335243	total: 165ms	remaining: 270ms
38:	learn: 0.0322375	total: 168ms	remaining: 263ms
39:	learn: 0.0307932	total: 172ms	remaining: 258ms
40:	learn: 0.0290719	total: 177ms	remaining: 254ms
41:	learn: 0.0273900	total: 179ms	remaining: 248ms
42:	learn: 0.0265110	total: 183ms	remaining: 243ms
43:	learn: 0.0251991	total: 188ms	remaining: 239ms
44:	learn: 0.0242162	total: 192ms	remaining: 235ms
45:	learn: 0.0236767	total: 197ms	remaining: 232ms
46:	learn: 0.0226539	total: 201ms	remaining: 227ms
47:	learn: 0.0219226	total: 206ms	remaining: 223ms
48:	learn: 0.0213737	total: 209ms	remaining: 217ms
49:	learn: 0.0206610	total: 214ms	remaining: 214ms
50:	learn: 0.0200408	total: 218ms	remaining: 209ms
51:	learn: 0.0192531	total: 221ms	remaining: 204ms
52:	learn: 0.0186310	total: 225ms	remaining: 200ms
53:	learn: 0.0180139	total: 232ms	remaining: 197ms
54:	learn: 0.0172728	total: 235ms	remaining: 192ms
55:	learn: 0.0169274	total: 239ms	remaining: 188ms
56:	learn: 0.0164424	total: 246ms	remaining: 185ms
57:	learn: 0.0159164	total: 250ms	remaining: 181ms
58:	learn: 0.0154480	total: 256ms	remaining: 178ms
59:	learn: 0.0149410	total: 259ms	remaining: 172ms
60:	learn: 0.0146629	total: 263ms	remaining: 168ms
61:	learn: 0.0143012	total: 267ms	remaining: 164ms
62:	learn: 0.0140779	total: 272ms	remaining: 160ms
63:	learn: 0.0137493	total: 276ms	remaining: 155ms
64:	learn: 0.0134546	total: 280ms	remaining: 151ms
65:	learn: 0.0132103	total: 286ms	remaining: 147ms
66:	learn: 0.0126341	total: 289ms	remaining: 142ms
67:	learn: 0.0122328	total: 292ms	remaining: 137ms
68:	learn: 0.0119261	total: 296ms	remaining: 133ms
69:	learn: 0.0115908	total: 300ms	remaining: 128ms
70:	learn: 0.0113777	total: 303ms	remaining: 124ms
71:	learn: 0.0111564	total: 308ms	remaining: 120ms
72:	learn: 0.0109872	total: 313ms	remaining: 116ms
73:	learn: 0.0108387	total: 318ms	remaining: 112ms
74:	learn: 0.0106465	total: 323ms	remaining: 108ms
75:	learn: 0.0105334	total: 327ms	remaining: 103ms
76:	learn: 0.0103544	total: 332ms	remaining: 99.1ms
77:	learn: 0.0101779	total: 337ms	remaining: 95ms
78:	learn: 0.0100795	total: 342ms	remaining: 90.8ms
79:	learn: 0.0098039	total: 343ms	remaining: 85.7ms
80:	learn: 0.0096768	total: 345ms	remaining: 80.8ms
81:	learn: 0.0094208	total: 346ms	remaining: 75.9ms
82:	learn: 0.0093002	total: 348ms	remaining: 71.3ms
83:	learn: 0.0092071	total: 351ms	remaining: 66.8ms
84:	learn: 0.0091312	total: 352ms	remaining: 62.2ms
85:	learn: 0.0090294	total: 355ms	remaining: 57.8ms
86:	learn: 0.0089189	total: 357ms	remaining: 53.3ms
87:	learn: 0.0088192	total: 359ms	remaining: 48.9ms
88:	learn: 0.0086790	total: 361ms	remaining: 44.6ms
89:	learn: 0.0085882	total: 363ms	remaining: 40.3ms
90:	learn: 0.0084984	total: 365ms	remaining: 36.1ms
91:	learn: 0.0083994	total: 367ms	remaining: 31.9ms
92:	learn: 0.0083070	total: 369ms	remaining: 27.8ms
93:	learn: 0.0082355	total: 371ms	remaining: 23.7ms
94:	learn: 0.0081462	total: 373ms	remaining: 19.6ms
95:	learn: 0.0080716	total: 375ms	remaining: 15.6ms
96:	learn: 0.0079923	total: 377ms	remaining: 11.7ms
97:	learn: 0.0079115	total: 381ms	remaining: 7.77ms
98:	learn: 0.0078308	total: 384ms	remaining: 3.88ms
99:	learn: 0.0077605	total: 390ms	remaining: 0us

In [29]:
#  predict and evaluate the model

# Predict on the test set
y_pred = model.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

# Print the classification report
print(classification_report(y_test, y_pred))

# Print the confusion matrix
print(confusion_matrix(y_test, y_pred))

Accuracy: 1.0
              precision    recall  f1-score   support

           0       1.00      1.00      1.00       105
           1       1.00      1.00      1.00        74

    accuracy                           1.00       179
   macro avg       1.00      1.00      1.00       179
weighted avg       1.00      1.00      1.00       179

[[105   0]
 [  0  74]]